<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!--viewport-->
    <meta name="viewport" content="
      width=device-width,
      initial-scale=1.0,
      minimum-scale=0.8,
      maximum-scale=2.0,
      user-scalable=no
    ">

    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/css/Login_rwd.css">
</head>
<body>
    <div class="body_wrap">
        <div class="login_logo_wrap">
            <div class="login_logo">
            </div>
        </div>

        <div class="login_box">
            <div class="login_container">
                <form method="post" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    <div class="login_account">
                        <h1><label for="loginName">登入帳戶：</label></h1>
                        <div class="input_wrap">
                            <input id="loginName" type="text" name="loginName" value="{{ craft.session.rememberedUsername }}"></br>
                        </div>
                        <h1><label for="password">密碼：</label></h1>
                        <div class="input_wrap">
                            <input id="password" type="password" name="password"><br />
                        </div>
                    </div>
                    <div class="rememberme">
                        <input type="checkbox" value="1" name="rememberMe">記住帳號
                        <input class="login button" type="submit" value="登入">
                        <input class="cancel button" type="reset" value="取消"><br />
                    </div>
                    <div class="login_forget">
                        <a href="{{ url('forgotpassword') }}">忘記密碼</a>
                        <a href="{{ url('register') }}">註冊帳號</a>
                    </div>
                    {% if errorMessage is defined %}
                    <p>{{ errorMessage }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
        </div>
    </div>
</body>
</html>